@media(max-width: 480){
	.header2, .content{
		width: 100%
	}
	#top_menu, .content, #footer_blocks, #copyright{
				width: 100%
	}
	.home_blocks{
		width: 100%;
	}
	#news_img{
		width: 100%;
	}
}

@media (min-width: 480px) and (max-width: 1000px){
	.header2, .content{
		width: 100%
	}
#top_menu, .content, #footer_blocks, #copyright{
			width: 100%
}
.home_blocks{
	width: 48%;
}
#news_img{
	width: 100%;
	
}
}